:root{
    --bg-white: #f4f6fa;
    --bg-green: #17af5c;
    --msj: #0c0e8f;
    --msj2: #ffffff;
    --bg: #a5acb6;
    --bg-blu: #2957D9;
    --bg-turque: #231830;
    --bg-black: #070707;
    --bg-turque-body: #140e1b;
    --alert: #e9b50d;
    --l-white: #f3f4f6;
    --l-muted: #968282;
    --l-message: #991b1b;
}

.jumbotron{
    height: 200px !important;
}

/* #######################  login ###########################*/
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-turque-body);
    width: 100vw;
    height: 100vh;
}
.form-login{
    width: 20%;
}
.form-login label{
    color: var(--bg-white);
    padding-left: 15px;
    font-size: 1.3rem;
}
.login-input{
    margin-top: 5px;
    background-color: var(--bg-turque-body);
    border: solid 1px var(--bg-white);
    height: 50px;
    border-radius: 10px;
    outline: none;
    color: var(--bg-white);
    padding-left: 15px;
}
.login-input[type=text]{
    margin-top: 5px;
    background-color: var(--bg-turque-body);
    border: solid 1px var(--bg-white);
    height: 50px;
    border-radius: 10px;
    color: var(--bg-white);
    padding-left: 15px;
    
}
.login-input[type=text]:focus{
    margin-top: 5px;
    background-color: var(--bg-turque-body);
    border: solid 1px var(--bg-white);
    height: 50px;
    border-radius: 10px;
    color: var(--bg-white);
    padding-left: 15px;
}
.login-input::placeholder{
    color: rgba(116, 110, 110, 0.404);
}
.d-flex-login-col{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
.d-flex-login-col h4{
    color: var(--bg-white);
    font-size: 1.5rem;
}
.d-flex-login-col h6{
    color: var(--l-message);
    font-size: 1rem;
}
.btn-login{
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px var(--bg-turque-body);
    background-color: var(--bg-white);
    color: var(--bg-turque-body);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 1.1rem;
}
.btn-login:hover{
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px var(--l-message);
    background-color: var(--bg-white);
    color: var(--l-message);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 1.1rem;
}



/* ####################### fin login ###########################*/

/* ####################### select form ###########################*/

.btn-select-form{
    width: 150px;
    border: solid 2px var(--bg-turque-body);
    border-radius: 15px;
    margin-right: 10px;
    background-color: var(--bg-turque);
    color: var(--l-white);
    padding: 5px;
}
.btn-select-verse{
    width: 150px;
    border: solid 2px var(--bg-blu);
    border-radius: 15px;
    margin-right: 10px;
    background-color: var(--bg-blu);
    color: var(--l-white);
    padding: 5px;
    
}
.btn-select-form:hover{
    border: solid 2px var(--l-message);
    background-color: var(--bg-white);
    color: var(--bg-turque-body);
}
.btn-select-logout{
    width: 150px;
    border: solid 2px var(--l-message);
    border-radius: 15px;
    margin-right: 10px;
    background-color: var(--l-message);
    color: var(--bg-white);
    padding: 5px;
}
.btn-select-logout:hover{
    border: solid 2px var(--l-message);
    background-color: var(--bg-white);
    color: var(--bg-turque-body);
}


/* ####################### fin select form ###########################*/



.input-edit-verse{
    width: 100%;
    height: 150px;
    overflow:visible;
    text-align: justify;
}
.btn-edit-verse{
    border: none;
    background-color: var(--bg-turque);
    color: var(--l-white);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
}
.box-edit-verse{
    background-color: rgb(167, 161, 161);
    padding: 7px;
}




.box-per{
    height: 500px;
    overflow: scroll;
    padding-right: 20px;
}

.icon-delete{
    color: var(--msj);
    font-weight: bolder;
    font-size: 1.4rem;
}
.icon-delete:hover{
    
    color: rgb(221, 43, 43);
    
}

.list-edit-charter{
    width: 100%;
    background-color: yellowgreen;
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--msj);
    text-align: center;
}
p{
    padding: 5px 20px 5px 20px;
}
h5{
    color: var(--msj);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* ##############################  form charter  #######################*/

.text-form-message{
    color: var(--l-message);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.form-group label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    color: var(--bg-turque);
    margin-top: 10px;
}




/* ############################## fin form charter  #######################*/

.text-form-data{
    color: var(--bg-green);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 12px;
}

.d-flex-per{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}
.d-flex-per button{
    width: 170px;
    text-align: left;
}


.form-per{
    padding: 5px 75px 5px 75px;
}

body{
    background-color: var(--bg-white);
}

.select-form-p p{
    color: var(--l-p);
}


/* mensajes */

.msj-1{
    display: flex;
    margin: 5% 10% 5% 10%;
    padding: 5px;
    height: auto;
    justify-content: center;
    color: blue;
    border-radius: 15px;
    border: solid 1px blue;
    
}

/*########################## Biblia ############################*/
.btn-select-biblia{
    background-color: var(--l-message);
    color: var(--l-white);
    border: solid 1px var(--l-message);
    padding: 5px;
    margin: 0 5px 0 5px;
    width: 200px;
    border-radius: 5px;
}
.btn-select-biblia:hover{
    background-color: var(--l-white);
    color: var(--bg-black);
}


/*########################## versesManual ############################*/


